
ALL_INCLUDES := \
		-I$(srctree)/include \
		-I$(srctree)/include/autogen \
		-I$(srctree)/include/stdinc \
		-I$(srctree)/boards/$(TARGET_BOARD)/include \
		-I$(srctree)/rtos/include \
		-I$(srctree)/rtos/portable/GCC \
		-I$(srctree)/drivers \
		-I$(srctree)/drivers/irq \
		-I$(srctree)/drivers/ddr \
		-I$(srctree)/drivers/printf \
		-I$(srctree)/drivers/timers \
		-I$(srctree)/drivers/delay \
		-I$(srctree)/drivers/uart \
		-I$(srctree)/drivers/gpio \
		-I$(srctree)/drivers/pinmux \
		-I$(srctree)/drivers/csi_rx \
		-I$(srctree)/drivers/i2c \
		-I$(srctree)/drivers/vcsel_driver \
		-I$(srctree)/drivers/reset \
		-I$(srctree)/tools/easylogger/inc \
		-I$(srctree)/tools/FreeRTOS_CLI \
		-I$(srctree)/tools/printf \
		-I$(srctree)/main \
		-I$(srctree)/drivers/qspi \
		-I$(srctree)/drivers/include \
		-I$(srctree)/drivers/dma \
		-I$(srctree)/drivers/clock \
		-I$(srctree)/drivers/usb \
		-I$(srctree)/drivers/dpu_1680 \
		-I$(srctree)/drivers/isp \
		-I$(srctree)/drivers/cpu \
		-I$(srctree)/drivers/rvl \
		-I$(srctree)/drivers/mailbox \
		-I$(srctree)/drivers/ssp \
		-I$(srctree)/fs/littlefs \
		-I$(srctree)/fs

dirs-y += rtos/
dirs-y += main/
dirs-y += app/
dirs-y += drivers/
dirs-y += boards/1680_fpga/
dirs-y += tools/
dirs-y += fs/
#objs-y += 

dirs-n = drivers/isp_2280/
dirs-n += drivers/dpu_2280/
dirs-n += drivers/dpu_1680/
dirs-n += drivers/sensor/
dirs-n += drivers/isp8000/

#Currently, we only support static library,i.e. "*.a"
libs-y += 
